nav{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgb(6, 93, 108);*/
    padding: 0px 0px 20px 0px;
}

a{
    font-size: 2em;
}